body {
  font-family: "Poppins", sant-serif;
  background-color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  padding-left: 0;
  margin: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
button {
  border: none;
  cursor: pointer;
}
img {
  display: block;
}
.container {
  width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
}
/* #region  header*/
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navigation {
  display: flex;
  flex-grow: 1;
  margin-right: 73px;
  justify-content: space-between;
}
.logo-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  display: flex;
  gap: 16px;
  align-items: center;
}
.header-nav-list {
  display: flex;
  gap: 30px;
}
.header-nav-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  display: block;
  padding-top: 26px;
  padding-bottom: 26px;
  transition: color 250ms ease-in-out;
}
.header-nav-list-link:hover,
.header-nav-list-link:focus {
  color: #02897a;
}
.current {
  font-weight: 600;
}
.header-btn-list {
  display: flex;
  gap: 21px;
}
.header-btn-list-item {
}
.header-btn-sign-in {
  width: 105px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #173a56;
  background-color: transparent;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;
}
.header-btn-sign-in:hover,
.header-btn-sign-in:focus {
  background-color: #02bc6b;
  color: #fff;
}
.header-btn-sign-up {
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background: #02897a;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  transition: background-color 250ms ease-in-out;
}
.header-btn-sign-up:hover,
.header-btn-sign-up:focus {
  background-color: #02bc6b;
}
.change-theme-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #f3f3f3;
  border-radius: 50%;
  margin-left: 24px;
}
.change-theme-icon {
  fill: #02897a;
  transition: fill 250ms ease-in-out;
}
.change-theme-icon:hover,
.change-theme-icon:focus {
  fill: #02bc6b;
}
/* #endregion header*/
/* #region price */
.price {
  padding-top: 71px;
  padding-bottom: 50px;
}
.price-title {
  text-align: center;
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.price-descr {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 40px;
}
.price-list {
  display: flex;
  gap: 72px;
}
.price-item {
  width: calc((100% - 144px) / 3);
  text-align: center;
  border-radius: 8px;
  height: 456px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
.price-item:nth-child(2) {
  background: #02897a;
}
.price-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
  margin: 32px auto 8px;
}
.price-item-descr {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  margin-bottom: 16px;
}
.price-cost {
  display: flex;
  margin: 16px auto;
  justify-content: center;
}
.price-cost-number {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  margin-right: 7px;
}
.price-cost-wrap {
}
.price-cost-currency {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  margin-top: 24px;
  margin-bottom: 4px;
  text-align: left;
}
.price-cost-period {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.price-option {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #22343d;
  margin-bottom: 16px;
}
.price-option:last-child {
  margin-bottom: 30px;
}
.price-btn {
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #02897a;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  transition: background-color 250ms ease-in-out;
}
.price-btn:hover,
.price-btn:focus {
  background-color: #02bc6b;
}
.standart {
  background-color: #02897a;
  color: #fff;
}
.price-btn-standart {
  color: #02897a;
  background: #fff;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border 250ms ease-in-out;
}
.price-btn-standart:hover,
.price-btn-standart:focus {
  color: #02bc6b;
  background-color: #fff;
  border: 1px solid #02bc6b;
}

/* #endregion price */
/* #region promo */
.promo {
  padding-top: 50px;
  padding-bottom: 50px;
}
.promo .container {
  display: flex;
  border-radius: 32px;
  width: 968px;
  height: 345px;
  background: #02897a;
  justify-content: space-between;
  padding-left: 51px;
}
.promo-wrap {
}
.promo-descr {
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin-top: 49px;
  margin-bottom: 46px;
}
.promo-button {
  border-radius: 8px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  background: #fff;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    border 250ms ease-in-out;
}
.promo-button:hover,
.promo-button:focus {
  color: #02bc6b;
  background-color: #fff;
  border: 1px solid #02bc6b;
}

/* #endregion promo */
/* #region footer */
.footer {
  padding-top: 50px;
}
.footer-wrap {
  display: flex;
  margin-bottom: 10px;
}
.footer-logos {
}
.logo-footer {
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 146px;
  margin-bottom: 18px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
}
.footer-socials-icon-box {
  border-radius: 50%;
  background-color: #edfffc;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.footer-socials-icon {
  stroke: #02897a;
  fill: transparent;
  transition: stroke 250ms ease-in-out;
}
.footer-socials-icon-box:hover .footer-socials-icon,
.footer-socials-icon-box:focus .footer-socials-icon {
  stroke: #02bc6b;
}
.footer-resource {
  margin-right: 129px;
}
.footer-resource-title,
.footer-legal-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  padding-bottom: 8px;
}
.footer-resource-list {
}
.footer-resource-item,
.footer-legal-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.1875;
  color: #22343d;
  cursor: pointer;
  transition: color 250ms ease-in-out;
}
.footer-resource-item:visited,
.footer-legal-item:visited {
  color: #22343d;
}
.footer-resource-item:focus,
.footer-resource-item:hover,
.footer-legal-item:focus,
.footer-legal-item:hover {
  color: #02897a;
}

.footer-legal {
  margin-right: 83px;
}
.footer-legal-list {
}
.footer-form-wrap {
}
.footer-form-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  width: 280px;
  margin-bottom: 30px;
}
.footer-input-wrap {
  position: relative;
  margin-bottom: 25px;
}
.footer-form-input {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 325px;
  height: 48px;
  padding: 10px 42px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  background-color: #fff;
  transition: border-color 250ms ease-in-out;
}
.footer-form-input::placeholder {
  color: #02897a;
  transition: color 250ms ease-in-out;
}
.footer-form-input:focus {
  border-color: #02bc6b;
  outline: none;
}
.footer-form-input:focus::placeholder {
  color: #02bc6b;
}

.footer-form-input-icon {
  fill: #02897a;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  transition: fill 250ms ease-in-out;
}
.footer-form-input:focus + .footer-form-input-icon {
  fill: #02bc6b;
}
.footer-form-btn {
  border-radius: 4px;
  width: 131px;
  height: 39px;
  background: #02897a;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 6px;
  transition: background-color 250ms ease-in-out;
}
.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #02bc6b;
}
.footer-copyright {
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: #22343d;
  text-align: center;
}

/* #endregion footer */
